<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css"/>
  <title>Conversor de Moedas</title>
</head>
<body>
  <div class="main">
    <form action="" name="CurrencyConverter">
      <input type="number" class="" name="value_to_convert">
      <select name="select">
        <% @currencies.each_with_index do |currency, index| %>
          <option value=currency_initial1><%= currency.country %>, <strong><%= currency.name%></strong> (<%= currency.initials %>)</option>
        <% end %>
      </select>
      <button type="submit" value="convert">Submit</button>
      <select name="select">
        <% @currencies.each_with_index do |currency, index| %>
          <option value=currency_initial2><%= currency.country %>, <strong><%= currency.name%></strong> (<%= currency.initials %>)</option>
        <% end %>
      </select>
      <br><input type="number" class="" name="value_from_convert" value="value_from_convert" disabled>
    </form>
  </div>
</body>
</html>