/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* * {
  margin: auto;
} */

main {
    /* grid-area: main; */
    border-radius: 5px;
    background-color: #f2f8f9;
    padding: 20px;
    margin: 50px 400px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: repeat(2, 1fr 2fr);
}

nav {
    grid-area: navbar;
    background-color: #253B4A;
  }

footer {
    grid-area: footer;
    background-color: #257D92;
}

nav, footer {
	color: #fff;
	font-weight: 800;
	font-size: 1.5rem;
	text-align: center;
	padding: 2rem 0;
}

.container {
	height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.container span {
  grid-column: 5;
  grid-row: 2;
}