/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* testes solo */

body {
  display: grid;
  height: 100vh;
  margin: 0;

  grid-template-areas: 
  "header"
  "main"
  "footer";

  grid-template-rows: 60px 1fr 40px;
}

header {
  grid-area: header;
  background-color: cornflowerblue;
  text-align: center;
}

form {
  grid-area: main;

  background-color: #f2f8f9;
  padding: 20px;
  margin: 50px 400px;

  display: grid;
  justify-content: space-around;
  grid-template-columns: 200px 210px 210px;
  grid-template-rows: 100px 50px 300px;
}

button {
  padding: 1em;
  background: lightgrey;
  width: 100%;
  border: 0;
  border-radius: 25%;
}

button:hover, button:focus {
  background: lightskyblue;
  outline: 0;
}

.box4 {
  display: grid;
  justify-content: space-around;
}

footer {
  grid-area: footer;
  background-color: #257D92;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* p {
  font-size: 1rem;
  position: relative;
  margin-bottom: 20px;
}
p:after {
  content: attr(data-tooltip);
  color: white;
  background-color: black;
  opacity: 0;
  position: absolute;
  z-index: 3;
  border-radius: 5px;
  width: 120px;
  height: 20px;
  font-size: .8rem;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: opacity .25s ease-in-out;
}
p:hover::after {
  opacity: 1;
  visibility: visible;
}
[data-position="top"]::after {
  top: -25px;
  left: -23px;

} */